@model IEnumerable<CS_SKINS_ASP.Models.Crate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Administrateur"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th> 
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    string src = "";
                    src = "data:" + item.ImageType + ";base64," + Convert.ToBase64String(item.ImageData);
                    <img src="@src" alt="@item.ImageNom" height="125" width="125" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @if (User.IsInRole("Administrateur"))
                {
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </p>
                }
                @Html.ActionLink("voir les skins", "Index", "skins", new { id = item.ID }, new { id = item.ID })
            </td>
        </tr>
                    }

</table>
