@model CS_SKINS_ASP.Models.Posts

@{
    ViewBag.Title = CS_SKINS_ASP.Views.ResourcesCommunes.ResourcesCommunes.Details;
}
<div class="couche textfont">

    <h2>Details</h2>

    <div>
        <h4>Posts</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SujetId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SujetId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Message)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Message)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatePublication)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatePublication)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Auteur)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Auteur)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>