@model CS_SKINS_ASP.Models.Skins

@{
    ViewBag.Title = "Details";
}

<div class="couche">
    <h2>Details</h2>

    <div>
        <h4>Skins</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Prix)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prix)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Probabilité)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Probabilité)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rang)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rang)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>