@{
    ViewBag.Title = CS_SKINS_ASP.Views.Home.ResourceHome.Titreapropo;
    ViewBag.Message = CS_SKINS_ASP.Views.Home.ResourceHome.TitreUtile;
}

<div class="couche textfont text-center">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        @CS_SKINS_ASP.Views.Home.ResourceHome.ParOpportunite
    </p>
    <h3>@CS_SKINS_ASP.Views.Home.ResourceHome.TitreCreateur</h3>
    <p>
        @CS_SKINS_ASP.Views.Home.ResourceHome.ParCreateurF
    </p>
    <p>
        @CS_SKINS_ASP.Views.Home.ResourceHome.ParCreateurM
    </p>
    <p>
        @CS_SKINS_ASP.Views.Home.ResourceHome.ParFinal
    </p>
    <br />
</div>